<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
	<appSettings>
		<add key="OrdersApiUrl" value="https://kata-espublicotech.g3stiona.com/v1/orders"/>
		<add key="PageSize" value="1000"/>
		<add key="Retries" value="3"/>
		<add key="SecondsBetweenRetries" value="3"/>
		<add key="OriginDateFormat" value="M/d/yyyy"/>
		<add key="ResultDateFormat" value="dd/MM/yyyy"/>
		<add key="MaxConcurrentRequests" value="100"/>
		<add key="MaxBatchSize" value="1000"/>
		<add key="OrderCsvFileName" value="orders.csv"/>
		<add key="OrderTotalCsvFileName" value="ordersTotals.csv"/>
		<add key="TotalProperties" value="Region|Country|ItemType|SalesChannel|Priority"/>
	</appSettings>
</configuration>